


#contentGridPane {
    -fx-vgap: 8;
    -fx-padding: 14 14 0 14;

    -fx-border-width: 0 0 1 0;
    -fx-border-color: #dbdbdb;
}

#contentGridPane .label {
    -fx-font-size: 13;
}

#contentGridPane .combo-box {
    -fx-max-width: 9999;
    -fx-max-height: 99;
}

.ekgComboboxButtonCell {
    -fx-fit-to-height: false;
    -fx-padding: 0 0 0 6;
}

.ekgComboboxButtonCell:disabled {
    -fx-text-fill: #666868;
    -fx-opacity: 0.2;
}

.ekgComboboxListCell:disabled {
    -fx-text-fill: #666868;
    -fx-opacity: 0.2;
}


#contentGridPane .text-field {
    -fx-max-width: 9999;
    -fx-max-height: 99;
    -fx-font-size: 13;
}

.graphic-container {
    -fx-max-width: 200;
}

.dialog-pane .header-panel {
    -fx-background-color: #3184c8;
    -fx-padding: 14 30 14 14;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-min-width: 300;
    -fx-padding: 0 20 0 0;
}

.dialog-pane .content {
    -fx-background-color: #F7F7F7
}

.dialog-pane .button-bar {
    -fx-background-color: #f0f0f0;
}

.text-field:invalid  {
    -fx-text-fill: #990000;
    /*  -fx-background-color: yellow;*/
    -fx-background-color: #990000,linear-gradient(to bottom, rgba(255, 217, 202, 0.9) 1%, rgba(255, 225, 213, 0.96) 55%);
}
