


#contentGridPane {
    -fx-vgap: 8;
    -fx-padding: 14 14 0 14;

    -fx-border-width: 0 0 1 0;
    -fx-border-color: #dbdbdb;
}

#contentGridPane .label {
    -fx-font-size: 13;
}

#contentGridPane .combo-box {
    -fx-max-width: 9999;
    -fx-max-height: 99;
}

#contentGridPane .combo-box .ekgComboboxButtonCell {
    -fx-fit-to-height: false;
    -fx-padding: 0 0 0 6;
}

.ekgComboboxListCell:disabled {
    -fx-text-fill: #666868;
    -fx-opacity: 0.2;
}


#contentGridPane .text-field {
    -fx-max-width: 9999;
    -fx-max-height: 99;
    -fx-font-size: 13;
}

.graphic-container {
    -fx-max-width: 200;
}

.dialog-pane .header-panel {
    -fx-background-color: #3184c8;
    -fx-padding: 14 30 14 14;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-min-width: 300;
    -fx-padding: 0 20 0 0;
}

.dialog-pane .content {
    -fx-background-color: #F7F7F7
}

.dialog-pane .button-bar {
    -fx-background-color: #f0f0f0;
}

.text-field:invalid  {
    -fx-text-fill: #990000;
    /*  -fx-background-color: yellow;*/
    -fx-background-color: #990000,linear-gradient(to bottom, rgba(255, 217, 202, 0.9) 1%, rgba(255, 225, 213, 0.96) 55%);
}

#errorBubble .label {
    -fx-background-color: #990000;
    -fx-text-fill: white;
    -fx-pref-height: 30;
    -fx-pref-width: 500;
    -fx-background-radius: 3;
    -fx-alignment: center;
}

#errorBubble {
    -fx-translate-y: -36;
    -fx-translate-x: 0;
}

.dialogLabel {
    -fx-padding: 0 0 0 3;
}


.lblHeadlines {
    -fx-background-color: #e7e7e7;
    -fx-text-fill: #424349;
    -fx-max-width: 9999;
    -fx-content-display: top;
    -fx-padding: 0 0 0 5;
    -fx-border-width: 10 0 0 0;

}

#bpSourceSelectorDisableOverlay {
    -fx-background-color: rgba(247, 247, 247, 0.88);
}

#bpSourceSelectorDisableOverlay Label {
    -fx-text-fill: #693d3a;
    -fx-font-size: 13;
    -fx-background-color: rgba(247, 247, 247, 0.88);
    -fx-translate-y: -13;
}
