

/*================= base styles ================*/

.fieldWrapper {
    -fx-padding: 10 10 6 10;
    -fx-background-color: #fafafa;
    -fx-border-color: #e1e8f1;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.filterPane {
    -fx-hgap: 10;
    -fx-max-width: 9999;
    -fx-grid-lines-visible: false;
    -fx-min-height: 36;
    -fx-padding: 3;
}

.filterPane > Label {
    -fx-pref-width: 114;
    -fx-alignment: center-right;
}