
.dialog-pane .header-panel {
    -fx-background-color: #3184c8;
    -fx-padding: 14 30 14 14;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-min-width: 300;
    -fx-padding: 0 20 0 0;
}

#screenshotExportSettingGrid .combo-box {
    -fx-max-width: 999;
    -fx-pref-width: 999;
    -fx-max-height: 28;
}

#screenshotExportSettingGrid .text-field {
    -fx-max-height: 28;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 1 0 0 1;
    -fx-border-radius: 3 0 0 3, 2 0 0 2, 1 0 0 1;
}

#screenshotExportSettingGrid .button {
    -fx-max-height: 28;
    -fx-pref-width: 999;
    -fx-background-radius: 0 4 4 0, 0 3 3 0, 0 2 2 0;
}

.dialog-pane .button-bar {
    -fx-background-color: #ececec;
    -fx-border-width: 0.5 0 0 0;
    -fx-border-color: #dbdbdb;
}